@media screen and (max-width: 768px) {
  /* include  */

  .p-subtitle-2 {
    padding: 0 10px;
  }

  .video-c {
    width: 100%;
    height: 415;
  }

  .info-document {
    width: 80%;
    margin-bottom: 50px;
  }

  .hold-everything {
    margin-left: auto;
  }

  .containerr {
    width: 400px;
  }

  .field {
    width: 280px;
  }

  .progress-bar-c .step .bullet:before,
  .progress-bar-c .step .bullet:after {
    right: -46px;
    height: 3px;
    width: 40px;
    background: #585a5a;
  }
  .count-number {
    font-size: 22px;
}
.count-text {
  font-size: 15px;
  padding: 0 5px;
}
.responsive-c {
  padding: 7px 5px;
}
.mat-2 {
  padding: 10px 0; 
}




}

@media screen and (max-width: 450px) {
  .containerr {
    width: 370px;
    padding: 50px 35px 10px 35px;
  }


}